body{
    background-color: rgb(242, 242, 218)
}

.carrossel{
    padding: 5px;
}

.carousel-inner > .carousel-item > img {
    width: 700px;
    height: 400px; 
  }

.card{
    padding: 5px;
    margin: 1.5em;
    align-items: center;
    border-radius: 10px;
}

.card img{
    border-radius:5%;
}

.card img:hover{
    opacity:0.9;
    -xpedu-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.mais-vendidos{
    margin-top: 1.5em;
}

footer{
    margin-top: 25px;
    padding: 20px;
}

.principal:hover{
    opacity:0.90;
    color: goldenrod;
}

.busca{
    margin-top: 40px;
    margin-bottom: 60px;
}

.card-body .input-group-md{
    padding: 15px;
}

.contato{
    margin-top: 40px;
}

.contato i{
    font-size: 1.3em;
    margin-right: 15px;
}

.contato input{
    margin: 5px;
}

.contato button{
    margin-top: 15px;
}

.trabalhe-conosco .form-control{
    margin: 10px 10px 10px 10px;

}
